@import "./src/styles/colors";
@import "./src/styles/mixins";
@import "./src/styles/fonts";

.intro {
  display: flex;
  align-items: center;
  height: 100vh;
  padding-top: 80px;
  box-sizing: border-box;
  background: url("../../../assets/intro.jpg") no-repeat;
  background-size: auto 100%;
  background-position: 100% 0;

  @include for-tablet-only {
    background-position: 50% 0;
  }

  & > div {
    @include for-tablet-only {
      height: 100%;
      background-color: rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(2px);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    & > p {
      @include for-mobile-only {
        text-align: center;
      }
    }
  }
}

.titleWrapper {
  margin-bottom: 100px;
}

.title {
  font-family: $cormorant-garamond;
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
  text-transform: uppercase;
  color: $green;

  @include for-mobile-only {
    font-size: 40px;
    line-height: 45px;
    text-align: center;
  }
}

.phoneNumber {
  margin-bottom: 32px;
}
