@import "colors";
@import "fonts";
@import "mixins";

html {
  background: $white;
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100vw;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: $fira-font;
  color: $black;

  &.burgerMenuOpen {
    overflow-y: hidden;
  }
}

button,
a {
  cursor: pointer;
  font-family: $fira-font;

  &:hover {
    opacity: 0.8;
  }
}

a:hover {
  opacity: 0.8;
}

a,
p,
h1,
h2,
h3,
ul,
li {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}

.container {
  width: 100%;
  max-width: 1245px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

main {
  width: 100%;
}
