@import "./src/styles/colors";
@import "./src/styles/mixins";
@import "./src/styles/fonts";

.delivery {
  padding-top: 170px;
  padding-bottom: 50px;

  @include for-tablet-only {
    padding-top: 100px;
  }

  & .wrapper {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1fr;
    grid-template-rows: 20px 1fr 20px;
    gap: 0 70px;

    @include for-tablet-only {
      display: flex;
      flex-direction: column;
      gap: 30px;
    }

    & > div {
      grid-row: 2/3;
      padding: 40px;
      border: 2px rgba($green, 0.3) solid;
      border-radius: 32px;
      background-color: rgba($green, 0.05);

      &:nth-of-type(2n + 2) {
        grid-row: 1/4;
        background-color: $white;
        box-shadow: 10px 10px 20px rgba($green, 0.3);
      }

      & > p {
        font-weight: 300;
      }
    }

    & .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      & .title {
        margin-bottom: 0;
        font-size: 28px;
      }

      & span svg {
        height: 50px;
      }
    }
  }

  & span {
    display: block;
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  & svg {
    width: 50px;
    height: 50px;
  }
}

.title {
  margin-bottom: 50px;
  font-family: $cormorant-garamond;
  font-size: 36px;
  line-height: 35px;
  text-transform: uppercase;

  @include for-tablet-only {
    text-align: center;
  }
}

.description {
  font-size: 16px;
  line-height: 16px;
  color: rgba($black, 0.7);
}
